# APP META CONFIGURATIONS
PUBLIC_SITE_SHORT_TITLE="LightRender"
PUBLIC_SITE_TITLE="LightRender"
PUBLIC_SITE_URL="https://light-render.vercel.app"
PUBLIC_SITE_DESCRIPTION="High-performance, unified video rendering engine with 100% visual parity."

# SOCIAL MEDIA URLS
PUBLIC_TWITTER_URL="https://twitter.com/skmoyaldev"
PUBLIC_GITHUB_URL="https://github.com/sikandarmoyaldev/light-render"

# GITHUB REPOSITORY URL
PUBLIC_GITHUB_REPO_NAME="lightrender"
PUBLIC_GITHUB_REPO_URL="https://github.com/sikandarmoyaldev/light-render"

# REPO OWNER
PUBLIC_GITHUB_OWNER_NAME="Sikandar"
PUBLIC_GITHUB_OWNER_URL="https://github.com/sikandarmoyaldev"
